.container{
    width: 1180px;
    margin: 0 auto;
    nav a{
        text-decoration: none;
        color: black;
        display: block;
        padding: 10px;
        border: 1px solid rgb(192, 191, 191);
        border-radius: 5px;
        width: 100px;
        &:hover{
            background-color: rgb(196, 196, 196);
        }
    }
    .charDetail{
        height: 400px;
        width: 700px;
        margin: 0 auto;
        img{
            float: left;
        }
        .details{
            float: left;
            margin-left: 30px;
            h4{
                text-align: left;
                text-decoration: underline;
                margin-block-end: 10px;
            }
            ol{
                margin: 0;
                padding-inline-start: 20px;
            }
        }
    }
}